.box-root {
  width: auto;
  border: solid 0px rgb(70, 253, 54);
  height: auto;
}

.box-group-select {
  margin: 5px;
  display: flex;
  border: solid 0px rgb(3, 103, 161);
}

.box-select {
  border: solid 0px rgb(0, 0, 0);
  margin: 5px;
  flex-direction: column;
}

.box-link {
  margin-top: 23px;
  width: 100px;

  background-color: #217acc;
  color: white;

  text-align: center;
  text-decoration: none;
  display: block;
}

.box-link:hover {
  background-color: #105ea7;
}

.box-select label {
  border: solid 0px rgb(31, 255, 255);
  font-weight: 700;
  font-style: italic;
  display: block;
  font-family: inherit;
  font-size: inherit;
}

.box-select select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.container {
  border: solid 0px rgb(255, 94, 0);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  border: solid 0px rgb(119, 0, 255);
  flex: 0 30%;
  margin-bottom: 4%; /* (100-32*3)/2 */
}

.item p {
  border: solid 0px rgb(3, 103, 161);
  margin: 0px;
}
